@tailwind base;
@tailwind components;
@tailwind utilities;

// Hide increments on number
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the up/down arrows on Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
